<ion-header>
  <ion-toolbar>
    <ion-title>aframe360</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  <script src="https://unpkg.com/aframe-particle-system-component@1.0.x/dist/aframe-particle-system-component.min.js"></script>
  <script src="https://unpkg.com/aframe-extras.ocean@%5E3.5.x/dist/aframe-extras.ocean.min.js"></script>
  <script src="https://unpkg.com/aframe-gradient-sky@1.2.0/dist/gradientsky.min.js"></script>
  <a-scene cursor="rayOrigin: mouse" rotation="0 0 0">
    <a-assets>
      <video id="Fono" crossorigin="anonymous" src="../assets/video360/Sistema_solar_360.mp4" ></video>

    </a-assets>
    <!-- 360-degree image. -->


    <a-sky id="image-360" radius="10" src=""
           animation__fade="property: components.material.material.color; type: color; from: #FFF; to: #000; dur: 300; startEvents: fade"
           animation_fadeback="property: components.material.material.color; type: color; from: #000; to: #FFF; dur: 300; startEvents: animationcomplete_fade">
    </a-sky>



    <a-entity camera look-controls mouse-cursor></a-entity>
  </a-scene>
  <ion-button routerLink="/home">
    Home
  </ion-button>
</ion-content>
